
.header1 {
    background-color: rgba(105, 156, 170, 0.517);
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    height: 100px;
}

.logo {
    width: 205px;
    height: 70px;
    position: relative;
    top: 15px;
    left: 27px;
}

.sub_header {
    color: white;
    position: relative;
    top: 0px;
    left: 38px;
    font-size: 28px;
}

ul {
    position: relative;
    left: 150px;
    display: inline-flex;
    left: 350px;
    font-size: 20px;
    list-style: none; 
}

li {
    padding: 15px;
}

.Home {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
} 

.Book {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Gift {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

li :hover {
    background-color: rgba(115, 115, 115, 0.837);
}

.header2 {
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    height: 80px;
}

.h_text {
    position: relative;
    top: 12px;
}

#content {
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 2700px;
    float: left;
    margin-left: 120px;
}

.book1 {
    position: relative;
    top: 30px;
    width: 100%;
    height: 510px;
    text-align: center;
}

.book1_text {
    font-size: 18px;
    text-align: center;
}

.img1 {
    width: 250px;
    height: 330px;
}

.book2 {
    position: relative;
    top: 30px;
    width: 100%;
    height: 600px;
    text-align: center;
}

.book2_text {
    font-size: 18px;
    text-align: center;
}

.img2 {
    width: 250px;
    height: 330px;
}

.book3 {
    position: relative;
    top: 30px;
    width: 100%;
    height: 550px;
    text-align: center;
}

.book3_text {
    font-size: 18px;
    text-align: center;
}

.img3 {
    width: 250px;
    height: 330px;
}

.book4 {
    position: relative;
    top: 30px;
    width: 100%;
    height: 580px;
    text-align: center;
}

.book4_text {
    font-size: 18px;
    text-align: center;
}

.img4 {
    width: 250px;
    height: 330px;
}

#nav { 
    float: right;
    margin-right: 120px;
    position: fixed;
    top: 200px;
    right: 10px;
}  

.box {
    width: 330px;
    height: 80px;
    background-color: rgba(105, 156, 170, 0.517);
    position: relative;
    text-align: center;
    top: 80px;
    right: 100px;
    font-size: 15px;
}

.feedback {
    position: relative;
    top: 30px;
    width: 100%;
    height: 300px;
    text-align: center;
}

#footer {
    background-color: rgba(105, 156, 170, 0.517);
    height: 190px;
    margin-left: 120px;
    clear: both;
}